<div class="container">
    <app-navbar></app-navbar>
    <div id="about">
        <div class="about-left">
            <!-- PROFILE SECTION -->
            <div class="profile">
                <img [src]="res?.avatar" [alt]="res?.full_name" class="avatar">
                <div class="user-info">
                    <h5 class="user-name">{{res?.full_name}}</h5>
                    <h6 class="user-position">{{res?.position}}</h6>
                </div>
            </div>
            <!-- INFO SECTION -->
            <div class="info-list">
                <li class="info-item">
                    <i class="bx bx-map"></i>
                    <h5>Tabasco, México</h5>
                </li>
                <li class="info-item">
                    <i class="bx bx-envelope"></i>
                    <h5>carlosfernandoburelo</h5>
                </li>
                <li class="info-item">
                    <i class="bx bx-phone"></i>
                    <h5>{{res?.country}}</h5>
                </li>
            </div>
            <!-- SOCIAL SECTION -->
            <h3 class="title-section">Social</h3>
            <div class="social-container">
                <a [href]="item.link" target="_blank" class="social__link" *ngFor="let item of res?.social_links">
                    <i [ngClass]="item.icon"></i>
                </a>
            </div>
            <!-- DESCRIPTION SECTION -->
            <h3 class="title-section">About me</h3>
            <div class="description-container">
                <p class="description">{{res?.description}}</p>
            </div>
            <!-- EDUCATION SECTION -->
            <h3 class="title-section">Education</h3>
            <div class="education-container">
                <div class="education__content">
                    <div class="education__time">
                        <span class="rounder"></span>
                        <span class="line"></span>
                    </div>
                    <div class="education__data">
                        <h3 class="education__title">FULL-STACK DEVELOPER</h3>
                        <span class="education__studies">Self-taught learning</span>
                        <span class="education__year">2020-2021</span>
                    </div>
                </div>
                <div class="education__content">
                    <div class="education__time">
                        <span class="rounder"></span>
                        <span class="line"></span>
                    </div>
                    <div class="education__data">
                        <h3 class="education__title">FRONT-END DEVELOPER</h3>
                        <span class="education__studies">Self-taught learning</span>
                        <span class="education__year">2019-2020</span>
                    </div>
                </div>
                <div class="education__content">
                    <div class="education__time">
                        <span class="rounder"></span>
                    </div>
                    <div class="education__data">
                        <h3 class="education__title">UI/UX DESIGNER</h3>
                        <span class="education__studies">Self-taught learning</span>
                        <span class="education__year">2017-2018</span>
                    </div>
                </div>
            </div>
            <!-- SKILLS SECTION -->
            <h3 class="title-section">SKitlls</h3>
            <div class="skills-container">
                <div class="skills-content" *ngFor="let item of res?.langs">
                    <div class="skill-header">
                        <h4>{{item.name}}</h4>
                        <h4>{{item.percent}}%</h4>
                    </div>
                    <div class="skill-bar">
                        <div class="skill-line" [style.background-color]="item.color" [style.width]="item.percent+ '%'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-right">
            <!-- EXPERIENCE SECTION -->
            <h3 class="title-section">Experience</h3>
            <div class="experience-container">
                <div class="experience__content">
                    <div class="experience__time">
                        <span class="rounder"></span>
                        <span class="line"></span>
                    </div>
                    <div class="experience__data">
                        <h3 class="experience__title">FULL-STACK DEVELOPER</h3>
                        <span class="experience__studies">Self-taught learning</span>
                        <span class="experience__year">2020-2021</span>
                        <p class="experience__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptates amet tempora, in ratione quia odio repudiandae obcaecati quos excepturi.</p>
                    </div>
                </div>
                <div class="experience__content">
                    <div class="experience__time">
                        <span class="rounder"></span>
                        <span class="line"></span>
                    </div>
                    <div class="experience__data">
                        <h3 class="experience__title">FRONT-END DEVELOPER</h3>
                        <span class="experience__studies">Self-taught learning</span>
                        <span class="experience__year">2019-2020</span>
                        <p class="experience__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi perspiciatis est aut inventore quos eum, voluptates error porro doloribus nulla.</p>
                    </div>
                </div>
                <div class="experience__content">
                    <div class="experience__time">
                        <span class="rounder"></span>
                    </div>
                    <div class="experience__data">
                        <h3 class="experience__title">UI/UX DESIGNER</h3>
                        <span class="experience__studies">Self-taught learning</span>
                        <span class="experience__year">2017-2018</span>
                        <p class="experience__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ducimus eum maiores vero sequi ipsam eveniet explicabo, ab esse impedit?</p>
                    </div>
                </div>
            </div>
            <!-- CERTIFICATES SECTION -->
            <h3 class="title-section">Certificates</h3>
            <div class="certificate__containerd">
                <div class="certificate__content">
                    <h3 class="certificate__title">Certificate for html & css</h3>
                    <p class="certificate__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque totam repellendus maxime natus nesciunt obcaecati necessitatibus aspernatur quis!</p>
                </div>
                <div class="certificate__content">
                    <h3 class="certificate__title">Certificate for html & css</h3>
                    <p class="certificate__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque totam repellendus maxime natus nesciunt obcaecati necessitatibus aspernatur quis!</p>
                </div>
                <div class="certificate__content">
                    <h3 class="certificate__title">Certificate for html & css</h3>
                    <p class="certificate__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque totam repellendus maxime natus nesciunt obcaecati necessitatibus aspernatur quis!</p>
                </div>
            </div>
            <!-- TOOLS SECTION -->
            <h3 class="title-section">Tools</h3>
            <div class="tools-container">
                <div class="tool-content" *ngFor="let item of res?.tools">
                    <img [src]="item.icon" alt="">
                    <h4 class="tool-name">{{item.name}}</h4>
                </div>
            </div>
            <!-- LANGS SECTION -->
            <h3 class="title-section">Langs</h3>
            <div class="langs-container">
                <div class="lang-item" *ngFor="let item of res?.languages">
                    <i class='bx bx-tag-alt'></i>
                    <h4 class="lang-name">{{item}}</h4>
                </div>
            </div>
            <!-- INTERESTS SECTION -->
            <h3 class="title-section">Interests</h3>
            <div class="interests_container">
                <div class="interests__content">
                    <i class="bx bx-music interests__icon"></i>
                    <span class="intereste__name">Music</span>
                </div>
                <div class="interests__content">
                    <i class='bx bx-happy interests__icon'></i>
                    <span class="intereste__name">Anime</span>
                </div>
                <div class="interests__content">
                    <i class='bx bxs-movie-play interests__icon'></i>
                    <span class="intereste__name">Movies</span>
                </div>
                <div class="interests__content">
                    <i class='bx bxs-florist interests__icon'></i>
                    <span class="intereste__name">Botanic</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>