    @import '../../../styles.scss';
    // /*===== GOOGLE FONTS =====*/
    // @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
    // /*===== VARIABLES CSS =====*/
    // $header-height: 3rem;
    // /*========== Colors ==========*/
    // $title-color: #ffffff;
    // $text-color: #909090;
    // $text-color-light: #707070;
    // $container-color: #FAFAFA;
    // $container-color-alt: #F0EFEF;
    // $body-color: #0c0c0c;
    // /*========== Font and typography ==========*/
    // $body-font: 'Poppins', sans-serif;
    // $h1-font-size: 1.5rem;
    // $h2-font-size: 1.25rem;
    // $h3-font-size: 1rem;
    // $normal-font-size: .938rem;
    // $small-font-size: .875rem;
    // $smaller-font-size: .813rem;
    // /*========== Font weight ==========*/
    // $font-medium: 500;
    // $font-semi-bold: 600;
    // /*========== Margenes ==========*/
    // $mb-1: .5rem;
    // $mb-2: 1rem;
    // $mb-3: 1.5rem;
    // /*========== z index ==========*/
    // $z-tooltip: 10;
    // $header-height: 3rem;
    // $z-fixed: 100;
    // /*========== BASE ==========*/
    // *, ::before, ::after {
    //     box-sizing: border-box;
    //     transition: $smooth;
    //     scroll-behavior: smooth;
    // }
    // html {
    //     scroll-behavior: smooth;
    // }
    // /*========== Variables Dark theme ==========*/
    // /*========== Button Dark/Light ==========*/
    // /*========== Font size variables to scale cv ==========*/
    // /*========== Generate PDF button ==========*/
    // /*========== Classes modified to reduce size and print on A4 sheet ==========*/
    // @media screen and(max-width: 500px) {
    //     .navbar {
    //         position: absolute !important;
    //     }
    // }
    // body {
    //     margin: 0 0 $header-height 0;
    //     padding: 0;
    //     font-family: $body-font;
    //     font-size: $normal-font-size;
    //     background-color: $body-color;
    //     color: $text-color;
    //     scroll-behavior: smooth;
    //     transition: $smooth;
    // }
    // h1, h2, h3, ul, p {
    //     margin: 0;
    // }
    // h1, h2, h3 {
    //     color: $title-color;
    //     font-weight: $font-medium;
    // }
    // ul {
    //     padding: 0;
    //     list-style: none;
    // }
    // a {
    //     text-decoration: none;
    // }
    // img {
    //     max-width: 100%;
    //     height: auto;
    // }
    // span {
    //     color: $text-color;
    // }
    // li {
    //     color: $text-color;
    // }
    // /*========== CLASS CSS ==========*/
    // .section {
    //     padding: 1.5rem 0;
    // }
    // .section-title {
    //     font-size: $h2-font-size;
    //     color: $primary;
    //     font-weight: $font-semi-bold;
    //     text-transform: uppercase;
    //     letter-spacing: .35rem;
    //     text-align: center;
    //     margin-bottom: $mb-3;
    //     margin-top: 40px;
    // }
    // /*========== LAYOUT ==========*/
    // .bd-grid {
    //     display: grid;
    //     gap: 1.5rem;
    // }
    // .l-header {
    //     display: none; //modded
    //     width: 100%;
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    //     z-index: $z-fixed;
    //     background-color: $body-color;
    //     box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
    //     transition: .3s;
    // }
    // .nav {
    //     height: $header-height;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    // @media screen and (max-width: 968px) {
    //     .nav__menu {
    //         position: fixed;
    //         bottom: -100%;
    //         left: 0;
    //         width: 100%;
    //         padding: 2rem 1.5rem;
    //         background-color: $body-color;
    //         box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    //         border-radius: 8px 8px 0 0;
    //         z-index: $z-fixed;
    //         transition: .3s;
    //     }
    // }
    // .nav__logo, .nav__toggle {
    //     color: $title-color;
    //     font-weight: $font-medium;
    // }
    // .nav__toggle {
    //     font-size: 1.2rem;
    //     cursor: pointer;
    // }
    // .nav__item {
    //     text-align: center;
    // }
    // .nav__list {
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     gap: 2rem;
    // }
    // .nav__link {
    //     display: flex;
    //     flex-direction: column;
    //     font-size: $smaller-font-size;
    //     color: $text-color-light;
    //     font-weight: $font-medium;
    // }
    // .nav__link:hover {
    //     color: $title-color;
    // }
    // .nav__icon {
    //     font-size: 1.2rem;
    //     margin-bottom: $mb-1;
    // }
    // /*========== NAV ==========*/
    // /* Show menu */
    // .show-menu {
    //     bottom: $header-height;
    // }
    // /* Active menu link */
    // .active-link {
    //     color: $title-color;
    // }
    // /*========== HOME ==========*/
    // .home {
    //     position: relative
    // }
    // .home__container {
    //     gap: 3rem;
    // }
    // .home__data {
    //     gap: .5rem;
    //     text-align: center;
    // }
    // .home__img {
    //     width: 120px;
    //     height: 120px;
    //     border-radius: 50%;
    //     justify-self: center;
    // }
    // .home__title {
    //     font-size: $h1-font-size;
    // }
    // .home__profession {
    //     font-size: $normal-font-size;
    //     margin-bottom: $mb-1;
    // }
    // .home__address {
    //     gap: 1rem;
    // }
    // .home__information {
    //     color: $text-color;
    //     display: flex;
    //     align-items: center;
    //     font-size: $small-font-size;
    // }
    // .home__icon {
    //     font-size: 1.2rem;
    //     margin-right: .25rem;
    // }
    // .home__button-movil {
    //     display: inline-block;
    //     border: 2px solid $text-color;
    //     color: $title-color;
    //     padding: 1rem 2rem;
    //     border-radius: $radius;
    //     transition: $smooth;
    //     font-weight: $font-medium;
    //     margin-top: $mb-3;
    // }
    // .home__button-movil:hover {
    //     background-color: $text-color;
    //     color: $container-color;
    // }
    // /*========== SOCIAL ==========*/
    // .social__container {
    //     grid-template-columns: max-content;
    //     gap: 1rem;
    // }
    // .social__link {
    //     display: inline-flex;
    //     align-items: center;
    //     font-size: $small-font-size;
    //     color: $text-color;
    // }
    // .social__link {
    //     &:hover {
    //         color: $primary;
    //     }
    // }
    // .social__icon {
    //     font-size: 1.2rem;
    //     margin-right: .25rem;
    // }
    // /*========== PROFILE ==========*/
    // .profile__description {
    //     text-align: center;
    // }
    // /*========== EDUCATION AND EXPERIENCE ==========*/
    // .experience__content, .education__content {
    //     display: flex;
    // }
    // .experience__time, .education__time {
    //     padding-right: 1rem;
    // }
    // .experience__rounder, .education__rounder {
    //     position: relative;
    //     display: block;
    //     width: 16px;
    //     height: 16px;
    //     background-color: $text-color-light;
    //     border-radius: 50%;
    //     margin-top: .25rem;
    // }
    // .experience__line, .education__line {
    //     display: block;
    //     width: 2px;
    //     height: 110%;
    //     background-color: $text-color;
    //     transform: translate(7px, 0);
    // }
    // .experience__data .education__data {
    //     gap: .5rem;
    // }
    // .experience__title, .education__title {
    //     font-size: $h3-font-size;
    // }
    // .experience__company, .education__studies {
    //     font-size: $small-font-size;
    //     color: $title-color;
    // }
    // .education__year {
    //     font-size: $smaller-font-size;
    // }
    // /*========== SKILLS AND LANGUAGES ==========*/
    // .languages__content, .skills__content {
    //     grid-template-columns: 1fr 1fr;
    // }
    // .languages__content, .skills__content {
    //     gap: 0;
    // }
    // .languages__name, .skills__name {
    //     display: flex;
    //     align-items: center;
    //     margin-bottom: $mb-1;
    // }
    // .languages__circle, .skills__circle {
    //     display: inline-block;
    //     width: 5px;
    //     height: 5px;
    //     background-color: $text-color;
    //     border-radius: 50%;
    //     margin-right: 0.75rem;
    // }
    // /*========== CERTIFICATES ==========*/
    // .certificate__title {
    //     font-size: $h3-font-size;
    //     margin-bottom: $mb-1;
    // }
    // /*========== REFERENCES ==========*/
    // .references__content {
    //     gap: .25rem
    // }
    // .references__subtitle {
    //     color: $text-color-light;
    // }
    // .references__subtitle, .references__contact {
    //     font-size: $smaller-font-size;
    // }
    // .references__title {
    //     font-size: $h3-font-size;
    // }
    // /*========== INTERESTS ==========*/
    // .interests__container {
    //     grid-template-columns: repeat(3, 1fr);
    //     margin-top: $mb-2;
    // }
    // .interests__content {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }
    // .interests__icon {
    //     font-size: 1.5rem;
    //     color: $text-color-light;
    //     margin-bottom: .25rem;
    // }
    // /* Scroll top */
    // .scrolltop {
    //     position: fixed;
    //     right: 1rem;
    //     bottom: 5rem;
    //     display: none;
    //     justify-content: center;
    //     align-items: center;
    //     padding: .3rem;
    //     background-color: $secondary;
    //     border-radius: $radius;
    //     z-index: $z-tooltip;
    //     transition: .4s;
    //     // visibility: hidden;
    // }
    // .scrolltop__icon {
    //     font-size: 1.2rem;
    //     color: $text-color;
    // }
    // /*========== MEDIA QUERIES ==========*/
    // @media screen and(min-width: 500px) {
    //     .resume {
    //         display: grid;
    //         grid-template-columns: .5fr 1fr;
    //         border-radius: $radius;
    //     }
    //     .resume__right, .resume__left {
    //         padding: 0 1.5rem;
    //     }
    //     .section-title, .profile__description {
    //         text-align: initial;
    //         margin-top: 0;
    //     }
    //     .home__container {
    //         gap: 1.5rem;
    //     }
    //     .home__button-movil {
    //         display: none;
    //     }
    //     .references__container {
    //         grid-template-columns: repeat(2, 1fr);
    //     }
    //     .languages__content {
    //         grid-template-columns: repeat(3, max-content);
    //         column-gap: 3.3rem;
    //     }
    //     .interests__container {
    //         grid-template-columns: repeat(4, max-content);
    //         column-gap: 3.5rem;
    //     }
    // }
    // @media screen and(max-width: 500px) {
    //     .l-header {
    //         display: block;
    //         padding: 0 1rem;
    //     }
    //     .scrolltop {
    //         display: flex;
    //     }
    // }
    // /* For small devices, menu two columns */
    // /* Classes modified for large screen size */
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .column {
        flex-direction: column;
    }
    
    .title-section {
        text-transform: uppercase;
        color: $primary;
        margin: 20px 0;
    }
    
    .rounder {
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        background-color: $primary;
        border-radius: 50%;
        margin-top: .25rem;
    }
    
    .line {
        display: block;
        width: 2px;
        height: 100%;
        background-color: $gray;
        transform: translate(7px, 0);
    }
    
    #about {
        display: flex;
        // align-items: center;
        .about-left {
            padding: 20px;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .profile {
                display: flex;
                align-items: center;
                .avatar {
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    margin-right: 20px;
                }
                .user-name {
                    font-size: 24px;
                }
                .user-position {
                    font-size: 14px;
                }
            }
            .info-list {
                margin-top: 20px;
                .info-item {
                    display: flex;
                    margin-bottom: 10px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
            .social-container {
                display: flex;
                a {
                    color: $white;
                    background: $secondary;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 100px;
                    line-height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .4s;
                    margin-right: 10px;
                    i {
                        font-size: 15px;
                        line-height: normal;
                    }
                    &:hover {
                        i {
                            color: $primary;
                        }
                    }
                }
            }
            .description-container {
                p {
                    font-size: 14px;
                }
            }
            .education__content {
                display: flex;
                margin-bottom: 10px;
                .education__time {
                    padding-right: 10px;
                }
                .education__studies {
                    margin-right: 10px;
                }
            }
            .skills-container {
                .skills-content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 5px;
                    .skill-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .skill-bar {
                        width: 100%;
                        height: 5px;
                        background-color: $gray2;
                        .skill-line {
                            height: 100%;
                        }
                    }
                }
            }
        }
        .about-right {
            width: 70%;
            padding: 20px;
            .experience-container {
                .experience__content {
                    display: flex;
                    margin-bottom: 10px;
                    .experience__time {
                        padding-right: 10px;
                    }
                    .experience__studies {
                        margin-right: 10px;
                        font-weight: 600;
                    }
                    .experience__description {
                        margin-top: 10px;
                    }
                }
            }
            .tools-container {
                display: flex;
                .tool-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 40px;
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                    }
                }
            }
            .langs-container {
                display: flex;
                .lang-item {
                    display: flex;
                    align-items: center;
                    margin-right: 40px;
                    .lang-name {
                        color: $gray;
                    }
                }
            }
            .interests_container {
                display: flex;
                .interests__content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-right: 40px;
                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 767px) {
        #about {
            flex-direction: column;
            padding-top: 80px;
            .about-left, .about-right {
                width: 100%;
                padding: 0;
            }
            .about-right {
                .tools-container {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 10px;
                    .tool-content {
                        margin: 0;
                    }
                }
                .langs-container {
                    display: flex;
                    .lang-item {
                        display: flex;
                        align-items: center;
                        margin-right: 20px;
                        .lang-name {
                            color: $gray;
                        }
                    }
                }
                .interests_container {
                    justify-content: space-between;
                    .interests__content {
                        margin-right: 0;
                    }
                }
            }
        }
    }