#landing {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-content,
.landing-banner {
    width: 50%;
    height: 100%;
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-banner img {
    width: 100%;
    height: 100%;
}

.hello {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.name {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 700;
}

.work {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 17px;
    margin-bottom: 15px;
    color: var(--primary);
}

.description {
    color: var(--subtexts);
}

.social {
    display: flex;
    margin-top: 25px;
}

.social li a {
    color: #e2e2e2;
    background: #0c0c0c;
    width: 35px;
    height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    margin-right: 5px;
}

#about {
    height: 500px;
    width: 100%;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: var(--primary);
}

.section-text {
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px;
}


/* Skills */

.skills-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.skill-description {
    width: 50%;
    padding: 20px;
}

.skill-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.skill-title h3 {
    margin-bottom: 0;
    line-height: normal;
    transition: 0.5s;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.card-icon {
    background-color: #0c0c0c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.card-icon i {
    color: #ffffff;
    font-size: 20px;
}

.skill-text {
    color: #cccccc;
    font-size: 14px;
    padding-left: 50px;
    line-height: 1.8;
}

.skill-progress {
    width: 50%;
}

.skills-list {
    width: 100%;
}

.skill-item {
    position: relative;
    margin-bottom: 20px;
}

.skill-item .skill-header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.skill-item .skill-bar {
    position: relative;
    width: 100%;
}

.bar-inner {
    position: relative;
    width: 100%;
    border-bottom: 5px solid #111111;
    border-radius: 0;
}

.bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 5px;
    transition: all 2000ms ease;
    border-radius: 0;
}

.progress-line {
    transition: all 2000ms ease;
    background-color: #04c37f;
    width: 80%;
}

.line-separator {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #111111;
}


/* SERVICES */

#services .services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.service-card {
    width: calc(33.3333% - 10px);
    background-color: #0c0c0c;
    position: relative;
    z-index: 1;
    padding: 35px 30px;
    transition: 0.5s;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.service-card:focus,
.service-card:hover {
    background-color: #1d1d1d;
}

.service-card .bar::before,
.service-card .bar::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    background: #111111;
    transition: 0.5s;
}

.service-card .bar {
    position: relative;
    z-index: 1;
    width: 55px;
    height: 3px;
    transition: 0.5s;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-service-title {
    margin-bottom: 0;
    transition: 0.5s;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.card-service-description {
    line-height: 1.7;
    color: #cccccc;
    font-size: 14px;
}

.card-icon-service i {
    font-size: 45px;
    color: var(--primary);
    transition: 0.5s;
    margin-bottom: 20px;
    line-height: 1;
}

.service-card img {
    transition: 5s;
    width: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: -1;
}


/* Project section */

#projects {
    margin-bottom: 50px;
    position: relative;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    margin: 0 10px;
    width: 300px !important;
    height: 350px !important;
    border-radius: 5px;
}

.slide-project {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.project-info {
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    border-top-right-radius: 5px;
    left: 0;
    right: 0;
    height: 30%;
    width: 60%;
    background-color: #0c0c0c;
}

.slider-controls {
    line-height: .01;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    margin-top: 0;
}

.swiper-button-prev.swiper-button-disabled {
    position: relative;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    outline: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #111111;
    width: 40px;
    height: 40px;
    line-height: 42px;
    margin: 0 5px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 50%;
    padding: 0;
}