<div class="container">
    <app-navbar></app-navbar>
    <div id="login">
        <div class="login-container">
            <img src="./assets/img/carlos.webp" class="avatar">
            <h4 class="name__admin">Admin</h4>
            <form>
                <input class="input-login" placeholder="User" type='text' formControlName="email" />
                <input class="input-login" placeholder="Password" type='password' formControlName="password" />
                <button class="btn-login" type="submit">Sign In</button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>