@import '../../../styles.scss';
// Desktop
main {
    #last-post {
        // margin-top: 40px;
        .title-section {
            font-size: 35px;
        }
        .main-post {
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            .img-post {
                width: 50%;
                height: 400px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $radius;
                }
            }
            .content-post {
                width: 50%;
                padding: 40px;
                height: auto;
                h2 {
                    transition: $medium;
                    font-size: 45px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                h4 {
                    font-size: 25px;
                    font-family: 'Coves-Bold';
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                h6 {
                    font-size: 15px;
                    color: $gray;
                }
                .tools {
                    margin-top: 20px;
                    i {
                        font-size: 40px;
                        margin-right: 10px;
                        transition: $medium;
                        &:hover {
                            transform: scale(1.2);
                        }
                        &:nth-child(1) {
                            color: rgb(195, 0, 47)
                        }
                        &:nth-child(2) {
                            color: rgb(252, 204, 4)
                        }
                        &:nth-child(3) {
                            color: rgb(204, 102, 153)
                        }
                        &:nth-child(4) {
                            color: rgb(251, 159, 6)
                        }
                    }
                }
            }
        }
        &:hover {
            .main-post {
                .content-post {
                    h2 {
                        color: $primary;
                    }
                }
            }
        }
    }
    #content-posts {
        width: 100%;
        margin-top: 40px;
        .title-section {
            font-size: 35px;
        }
        .all-posts {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            article {
                cursor: pointer;
                transition: $smooth;
                width: calc(33.33% - 10px);
                margin-bottom: 15px;
                height: 200px;
                position: relative;
                img {
                    transition: $smooth;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $radius;
                }
                .post-info {
                    transition: $smooth;
                    position: absolute;
                    background-color: $secondary;
                    padding: 10px;
                    height: 40%;
                    width: 60%;
                    border-radius: 0px 8px 0px 8px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 10;
                    [class^="post-"] {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    .post-date {
                        font-family: 'Coves-Bold';
                        font-weight: 400;
                    }
                }
                .details {
                    transition: $smooth;
                    position: absolute;
                    z-index: 100;
                    height: 100%;
                    width: 100%;
                    border-radius: $radius;
                    background-color: rgba(0, 0, 0, 0.7);
                    backdrop-filter: blur( 17.0px);
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icon-detail {
                        display: flex;
                        align-items: center;
                        i {
                            margin: 10px;
                            font-size: 40px;
                        }
                    }
                }
                &:active, &:focus, &:hover {
                    .post-info {
                        opacity: 0;
                    }
                    .details {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// Tablet
@media screen and (max-width: 767px) {
    main {
        #last-post {
            .title-section {
                font-size: 20px;
            }
            .main-post {
                margin-top: 30px;
                background-color: #0c0c0c;
                border-radius: 8px;
                .img-post {
                    width: 50%;
                    height: 250px;
                }
                .content-post {
                    width: 50%;
                    padding: 25px;
                    height: auto;
                    h2 {
                        font-size: 30px;
                    }
                    h4 {
                        font-size: 20px;
                    }
                    h6 {
                        font-size: 14px;
                    }
                    .tools {
                        i {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        #content-posts {
            .title-section {
                font-size: 20px;
            }
            .all-posts {
                margin-top: 30px;
                article {
                    width: calc(50% - 10px);
                    margin-top: 15px;
                    height: 200px;
                    position: relative;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: 500px) {
    main {
        #last-post {
            .title-section {
                font-size: 20px;
            }
            .main-post {
                flex-direction: column;
                .img-post {
                    width: 100%;
                }
                .content-post {
                    width: 100%;
                    padding: 25px;
                    height: auto;
                    h2 {
                        font-size: 20px;
                    }
                    h4 {
                        font-size: 12px;
                    }
                    h6 {
                        font-size: 10px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
        #content-posts {
            .title-section {
                font-size: 20px;
            }
            .all-posts {
                margin-top: 10px;
                article {
                    width: 100%;
                    margin-top: 15px;
                    height: 200px;
                    position: relative;
                }
            }
        }
    }
}