/*---- ---- ---- Ajuste universal ---- ---- ----*/
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	outline: none !important;
}
/*---- ---- ---- Suavidad del scroll ---- ---- ----*/
html {
	scroll-behavior: smooth;
}
/*---- ---- ---- Variables css ---- ---- ----*/
:root{
    --radio: 10px;
    --negro: #000000;
    --blanco: #ffffff;
    --gris: #919191;
    --gris-medio: #252525;
	--verde: #3ef0ac;
	--azul: #0084ff;
	--rojo: #ff2020;
	--amarillo: #ffcb22;
	--gris-oscuro: #070707;
	--celeste: #5ea78b;
}
a{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/*---- ---- ---- color del scrollbar ---- ---- ----*/
::-webkit-scrollbar {
	background: var(--negro);
	border-radius: 4px;
	width: 10px;
	height: 8px; 
}
:-webkit-scrollbar-thumb:hover {
	background: var(--negro);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb:active {
	background-color:var(--verde);
	width: 10px;
	height: 8px; 
}
::-webkit-scrollbar-thumb {
	background: var(--gris);
	border-radius: 10px;
}
/*---- ---- ---- Body ---- ---- ----*/
body{
	font-family: 'Roboto', sans-serif;
	background: var(--negro);
	color: var(--blanco);
}
/*---- ---- ---- contenedor principal ---- ---- ----*/
.contenedor {
	width: 99%;
	margin: auto;
}

header .contenedor {
    padding: 5px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*---- ---- ---- MENU PARA DISPOSITIVOS MOVILES ---- ---- ----*/
.menu_desplegable{
	width: 100%;
	padding: 10px 10px;
	display: none;
}
.contenedor__menu{
	height: 100%;
	transition-delay: 2s;
}
.logo__menu__img{
	margin: 20px 30px;
	height: 40px;
	width: 40px;
}
.popup-contenido {
    /* align-items: center; */
    background-color: var(--negro);
    color: var(--letras-black);
    width: 50%;
    height: 100%;
    /* margin: 14px -0px 0px 129px; */
    position: relative;
	border-radius: 8px;
	float: right;
}
.popup-contenido a .activo{
	color: var(--verde);
}
.popup-contenido h3{
    color: #ffffff;
    text-decoration: none;
    background-color:var(--gris-oscuro);
    padding: 10px 30px;
    margin: 5px;
	border-radius: 5px;
	text-align: initial;
}
.popup-contenido h3:hover{
	background: var(--verde);
	color: #000000;
}
.popup-contenido a{
    text-decoration: none;
    color: #ffffff;
}
.popup-contenido h3 a:hover{
    text-decoration: none;
    color: #000000;
}
.popup-contenido h3:hover .popup-contenido a{
	color: #000000;
}
.popup{
    background-color: rgba(0,0,0,.5);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: ease all .3s;
}
#menu:target{
    opacity:1;
    z-index: 200;
    pointer-events:auto;
}
.boton__cerrar_menu {
    /* margin: 15px 10px; */
    width: 50%;
    height: 100%;
    color: var(--blanco);
	float: left;

    /* background: lightseagreen; */
}
.boton__cerrar_menu i{
	width: 100%;
	height: 100%;
	color: transparent;
}
header .logo__img{
	height: 40px;
	width: 40px;
}
header .logotipo {
    font-family: 'Balsamiq Sans', cursive;
	font-weight: normal;
	color: var(--celeste);
	margin: 5px 0px 0px 5px;
	font-size: 40px;
}
header nav a {
	color: #666666;
	text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}
header nav a:hover{
    color: #ffffff;
    transition: 0.4s;
}
header nav a.activo {
	color: var(--verde);
}
h3 .activo {
	color: var(--verde);
}
/*---- ---- ---- Banner ---- ---- ----*/
.cabecera{
    display: flex;
    align-items: center;
}
.informacion__paquete{
    margin-left: 30px;
}
.icono{
    width: 70px;
    height: 70px;
}
.informacion__compilacion h3{
    margin-top: 5px;
}
.informacion__compilacion i{
    color: var(--verde);
    font-size: 23px;
}
.autor__aplicacion{
    font-size: 14px;
    color: var(--azul)
}
.informacion__compilacion{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.peso,
.version,
.plataforma{
    text-align: center;
}

.contenedor_informacion{
    margin-top: 20px;
    background-color: var(--gris-oscuro);
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 8px;
}
.contenedor_compilacion{
    margin-top: 0px;
    background-color: var(--gris-oscuro);
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 8px;
}
.contenedor__carrusel{
    margin-top: 20px;
    background-color: var(--gris-oscuro);
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 8px;
}

.descripcion__titulo{
    color: var(--blanco);
    font-size: 20px;
    margin-bottom: 10px;
}
.descripcion__texto{
    color: var(--gris);
}
/*---- ---- ---- Iconos de las categorias ---- ---- ----*/
.fa-play,
.fa-video,
.fa-star,
.fa-clock{
	margin-right: 15px;
	margin-left: 32px;
}

/*---- ---- ---- carrusel para las imagenes ---- ---- ----*/
.carousel {
	width: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}
.carousel__container {
	white-space: nowrap;
	position: relative;
	width: 96%;
	margin: auto;
}
.carousel__lista {
	overflow: hidden;
}
.carousel__elemento {
	text-align: center;
}
.carousel__item {
	width: 500px;
	height: 250px;
	border-radius: var(--radio);
	overflow: hidden;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: center;
	position: relative;
}
.carousel__container:hover .carousel__item {
	opacity: 0.3;
}
.carousel__container:hover .carousel__item:hover {
	transform: scale(1.1);
	opacity: 1;
}
.carousel__item__img {
	width: 100%;
	height: 230px;
	object-fit: cover;
}
.carousel__item:hover {
	transition: all .4s;
	transform: scale(1.1);
	border-radius: var(--radio);
}

.carousel__item__details {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
	font-size: 10px;
	color: white;
	opacity: 0;
	transition: 450ms opacity;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	white-space: normal;
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.carousel__item__details:hover {
	opacity: 1;
}
.carousel__item__details--title i {
    font-size: 100px;
    color: var(--blanco);
    margin-bottom: 60%;
}
.carousel::-webkit-scrollbar {    
	height: 10px;
	overflow-y: hidden;
} 
.carousel::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
	border-radius: 8px;
	overflow: hidden;
}
.carousel::-webkit-scrollbar-track-piece {
	max-width: 100px;
	overflow: hidden;
}
.carousel::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	background-color: gray;
	overflow: hidden;  
}
.carousel__anterior {
    float: left;
	left: 20px;
	padding:114px 4px;
	color: var(--blanco);
	background: none;
	border: none;
	outline: none;
}
.carousel__siguiente {
	float: right;
	margin-left: -1px;
	padding: 114px 4px;
	color: var(--blanco);
	background: none;
	border: 0px solid;
	outline: none;
}
.carousel__siguiente:hover,
.carousel__anterior:hover{
	transition: all .3s;
	color: var(--verde);
	background-color: var(--gris-oscuro);
}



/*---- ---- ---- Footer ---- ---- ----*/
.footer{
	margin-top: 20px;
	height: auto;
	background: #070707;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.docs-list,
.social-list{
	text-decoration: none;
    list-style: none;
}
.docs-list{
    margin: 5px 0px;
}
.docs:hover{
    color: var(--verde);
    cursor: pointer;
}
.social{
    font-size: 20px;
    margin: 5px;
}
.fa-facebook-square,
.fa-github,
.fa-twitter,
.fa-telegram-plane{
	margin-right: 5px;
	font-size: 30px;
}
.fa-facebook-square,
.fa-github,
.fa-twitter,
.fa-telegram-plane{
	color: #fff;
}
.fa-facebook-square:hover,
.fa-github:hover,
.fa-twitter:hover,
.fa-telegram-plane:hover{
	color: var(--azul);
	transition: all .4s;
	transform: scale(1.3);
}
.docs-list li, .social-list {
    margin: 10px 0px;
}
.copy{
	text-align: center;
	font-size: 18px;
	color: var(--verde);
}
/*---- ---- ---- RESPONSIVE DESING (MOBILE) ---- ---- ----*/
@media only screen and (max-width: 980px) {
    .contenedor {
        width: 100%;
        margin: auto;
    }
	nav{
		display: none;
	}
	.header_main{
		display: none;
	}
	header .contenedor .menu_desplegable{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.fa-stream{
		font-size: 30px;
		color: var(--blanco);
	}
    .banner{
        width: 100%;
        height: auto;
    }
    .contenedor_compilacion{
        padding: 15px;
    }

    .contenedor_informacion,
    .contenedor__carrusel{
        margin-top: 20px;
        padding: 15px;
    }
    .carousel__item {
        width: 50%;
        height: 250px;
    }
    .descripcion__titulo{
        color: var(--blanco);
        font-size: 20px;
    }
    .descripcion__texto{
        color: var(--gris);
    }
    .contenedor__footer{
        width: 100%;
    }
    .footer{
        margin-top: 20px;
        height: auto;
        background: #070707;
        padding: 25px 15px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .docs-list li, .social-list {
        margin: 10px 0px;
    }
    .carousel__anterior,
    .carousel__siguiente{
        display: none;
    }
}