<div class="footer">
    <div class="container d-flex">
        <footer>
            <div class="logo">
                <img src="./assets/img/favicon.png" alt="">
                <h2>Carlos Burelo</h2>
            </div>
            <div class="directory">
                <div class="links">
                    <a [routerLink]="['/']">Home</a>
                    <a [routerLink]="['/blog']">Blog</a>
                    <a [routerLink]="['/about']">About</a>
                    <a [routerLink]="['/admin']">Admin</a>
                </div>
                <div class="copy">
                    <h5> &copy; Carlos Burelo 2021 | All rights reserved</h5>
                </div>
            </div>
            <div class="social">
                <div class="links">
                    <a [href]="item.link" *ngFor="let item of res?.social_links">
                        <i [ngClass]='item.icon'></i>
                    </a>
                </div>
            </div>
        </footer>

    </div>
</div>